/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, sans-serif; /* Use Poppins as the primary font */
    background-color: #f8f8f8;
    color: #333;
}

/* Centering the Header Section */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

header .logo img {
    width: 700px; /* Increase the logo size */
    display: block;
    margin: 0 auto; /* Center the logo */
}


nav {
    background-color: #333;
    background-size: cover;
    padding: 10px 40px; /* Increase width of the nav bar */
    border-radius: 30px;
    margin-top: 30px;
    width: 98%;
    /* margin-bottom: 10%; */
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 30px; /* Increase the gap between nav options */
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s;
} 

nav ul li a:hover {
    color: #fff200;
}

/* Banner Section */
.banner {
    background-image: url('img/banner.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    color: white;
    text-align: left;
    border-radius: 50px;
    margin-left: 1%;
    margin-right: 1%;
    
}

.banner-content {
    max-width: 600px;
    margin: 0 10%;
}

.banner h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.banner p {
    font-size: 1.2rem;
}

/* Cards Section */
.cards {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding:20px;
    
}

.cards article {

    padding: 20px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    padding: 50px;
    background-color: antiquewhite;
}
h2, h3 {
    margin-top: 0;
    color: #333;
}

ul {
    padding-left: 20px;
}
.cards article:hover {
    transform: translateY(-10px);
}

.cards img {
    width: 100%;
    border-radius: 8px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #4a5f58;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}
/* Footer Section */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

footer .footer-left img {
    width: 50px;
}

footer .footer-right {
    text-align: right;
}